# IDE's
.idea
.vscode
*.iml

# Terraform
*.backup
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
crash.log
.terraform.lock.hcl

# Artefact
terraform-provider-twilio
dist

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Misc
.history
.DS_Store
temp