name: Terraform Provider Checks

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/terraform_provider.yml
      - twilio/**
      - go.sum
      - makefile
      - main.go

env:
  GO_VERSION: "1.14"
  GO111MODULE: on

jobs:
  pipeline:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go with v${{ env.GO_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Granting private modules access
        run: git config --global url."https://${{ secrets.GO_MODULES_TOKEN }}:x-oauth-basic@github.com/RJPearson94".insteadOf "https://github.com/RJPearson94"

      - name: Install tools
        run: make tools

      - name: Download Dependencies
        run: make download

      - name: Build
        run: make build

      - name: Test
        run: make test
